#friend{
    height: 50px;
}

#rightmenu{
    padding-left: 150px;
}

.navbar .navbar-nav > ul {
    margin-left: 275px;
}

ul li{
    display: block;
    float: left;
}

ul a{
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 20px;
    font-weight: bold;
}

body{
    background-image: url("friend.png");
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
    font-family: arial, "Times New Roman";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.oi{
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
  }

.pdd{
    padding-top: 250px;
}

#btn{
    border-radius: 36px;
    border: 3px solid white;
    color: white;
    background-color: transparent;
    font-weight: bold;
}

#btn:hover{
    color: red;
}
