body{
    font-family: arial, 'Times New Roman';
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 30;
    overflow: hidden;
}

li {
    float: left;
    padding-right: 35px;
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.principal{
    text-align: center;
    padding-top: 100px;
    font-size: 2em;
    color: white;
}

#ak{
    background-image: url("ar15.jpg");
    background-size: cover;
}

.column{
    padding-top: 200px;
    color: white;
    margin-left: 40px;
}
.column1{
    padding-top: 350px;
    color: white;
    margin-left: 0px;
}

.img{
    max-width: 100%;
    height: auto;
}

.transbutton{
    color: white;
    display:block;
    border-radius: 20px;
    background-color: transparent;
    border:5px solid white;
    float: center;
    width: 150px;
    height: 40;
    line-height: 40px;
    text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
      background: #999;
      width: 100%;
    }
  }